# My First Notebook

This cell will render as _rich-formatted text_ when it is evaluated. in order to make a cell markdown, click the M-down arrow button on the cell header


## subheading and other formats

* Bulleted lists with stars
* **bolded text**
* [Links to web pages](https://www.google.de)

In [1]:
name: str = "Hazhan"
print(f"hello, {name}")

hello, Hazhan

## Keyboard Shortcuts to know

`control + Enter` = Evaluated the current cell.

`Shift + Enter` = Evaluated the current cell and moves focus on the next cell.

# Data Types

In [16]:
type(1)

int

In [4]:
type(2.5)

float

In [7]:
type(True)

bool

In [9]:
type(False)

bool

In [10]:
type("hello")

str

In [13]:
print("hello".upper())
print("hello".lower())
print("hello".title())

HELLO
hello
Hello

In [14]:
"hello".count('l')

2

In [15]:
"hello".replace('l','w')

'hewwo'

# Variables

In [17]:
message_1 = "first message"

In [18]:
message_1

'first message'

In [22]:
message_2 = "second message"

In [26]:
message_1 +' '+ message_2

'first message second message'

In [30]:
message = message_1 + ' ' + message_2
message

'first message second message'

In [35]:
f'{message_1} {message_2}'

'first message second message'

# List

In [37]:
countries = ['Deutschland', 'Frankreich', 'China', 'Portugal']

In [38]:
countries

['Deutschland', 'Frankreich', 'China', 'Portugal']

In [46]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])
print(countries[-1])

Deutschland
Frankreich
China
Portugal
Portugal
['Deutschland', 'Frankreich', 'China']
['Frankreich', 'China', 'Portugal']

# slicing
list_name[start:stop]

In [48]:
print(countries[0:3])
print(countries[1:4])

['Deutschland', 'Frankreich', 'China']
['Frankreich', 'China', 'Portugal']

# Adding elements to a list

In [49]:
countries

['Deutschland', 'Frankreich', 'China', 'Portugal']

In [50]:
countries.append('Polen')

In [51]:
countries

['Deutschland', 'Frankreich', 'China', 'Portugal', 'Polen']

In [52]:
countries.insert(2,'Ukraine')

In [53]:
countries

['Deutschland', 'Frankreich', 'Ukraine', 'China', 'Portugal', 'Polen']

In [54]:
countries_2 = ['GB', 'Österreich','Australien']

In [55]:
countries+countries_2

['Deutschland',
 'Frankreich',
 'Ukraine',
 'China',
 'Portugal',
 'Polen',
 'GB',
 'Österreich',
 'Australien']

In [56]:
nested_List = [countries, countries_2]

In [57]:
nested_List

[['Deutschland', 'Frankreich', 'Ukraine', 'China', 'Portugal', 'Polen'],
 ['GB', 'Österreich', 'Australien']]

# Removing an element

In [60]:
countries.remove('Deutschland')

In [61]:
countries

['Frankreich', 'Ukraine', 'China', 'Portugal', 'Polen']

In [62]:
countries.pop(-1)

'Polen'

In [63]:
countries

['Frankreich', 'Ukraine', 'China', 'Portugal']

# Sorting a list

In [68]:
numbers = [5, 6, 8, 7, 10, 65, 82]

In [73]:
numbers.sort()
numbers

[5, 6, 7, 8, 10, 65, 82]

In [74]:
numbers.sort(reverse=True)
numbers

[82, 65, 10, 8, 7, 6, 5]

# Update an Element

In [76]:
numbers[0] = 1000
numbers

[1000, 65, 10, 8, 7, 6, 5]

# Copying a list

In [77]:
countries[:]

['Frankreich', 'Ukraine', 'China', 'Portugal']

In [82]:
new_list = countries[:]
new_list

['Frankreich', 'Ukraine', 'China', 'Portugal']

In [83]:
new_list_2 = countries.copy()
new_list_2

['Frankreich', 'Ukraine', 'China', 'Portugal']

# Dictionary

my_dict = {'key1':'value1', 'key2':'value2'}

In [87]:
my_data = {'name':'Hazhan', 'age':26}
my_data

{'name': 'Hazhan', 'age': 26}

In [88]:
my_data.keys()

dict_keys(['name', 'age'])

In [91]:
my_data.values()

dict_values(['Hazhan', 26])

In [93]:
my_data.items()

dict_items([('name', 'Hazhan'), ('age', 26)])

In [94]:
my_data['height'] = 1.85

In [95]:
my_data

{'name': 'Hazhan', 'age': 26, 'height': 1.85}

In [96]:
my_data.update({'height':1.83})

In [97]:
my_data

{'name': 'Hazhan', 'age': 26, 'height': 1.83}

# Copy a dictionary

In [100]:
new_dict = my_data.copy()

In [101]:
new_dict

{'name': 'Hazhan', 'age': 26, 'height': 1.83}

# Remove Element

In [103]:
my_data.pop('name')

'Hazhan'

In [104]:
my_data

{'age': 26, 'height': 1.83}

In [105]:
del my_data['age']

In [106]:
my_data

{'height': 1.83}

In [107]:
new_dict

{'name': 'Hazhan', 'age': 26, 'height': 1.83}

In [108]:
my_data.clear()

In [109]:
my_data

{}

# If Statement

In [116]:
age = 15

if age>=18:
    print("volljährig")
elif age>=13:
    print("Jugendlich") 
else:
    print("nicht volljährig")

Jugendlich

# For loop

In [118]:
countries

['Frankreich', 'Ukraine', 'China', 'Portugal']

In [119]:
for country in countries:
    print(country)

Frankreich
Ukraine
China
Portugal

In [122]:
for i, country in enumerate(countries):
    print(i)
    print(country)

0
Frankreich
1
Ukraine
2
China
3
Portugal

In [123]:
my_data = {'name':'hazhan', 'age':26}
my_data

{'name': 'hazhan', 'age': 26}

In [124]:
for key, value in my_data.items():
    print(key)
    print(value)

name
hazhan
age
26

# Function

In [131]:

def sum_values(a, b):
    x = a + b
    return x

In [132]:
sum_values(1, 3)

4

# Built-in Functions

In [133]:
countries = ['Deutschland', 'Frankreich', 'Portugal', 'Polen']

In [134]:
countries

['Deutschland', 'Frankreich', 'Portugal', 'Polen']

In [135]:
len(countries)

4

In [136]:
max([10, 84, 77, 6, 13])

84

In [137]:
min([10, 84, 77, 6, 13])

6

In [138]:
type(countries)

list

In [142]:
for i in range(1, 10, 3):
    print(i)
for b in range(1, 10, 2):
    print(b)

1
4
7
1
3
5
7
9

# Module
import

In [145]:
import os

In [146]:
os.getcwd()

'c:\\Users\\H\\Desktop\\Jupyter Notebook'

In [147]:
os.listdir()

['Jupyternotebook.ipynb']

In [148]:
os.makedirs("New Folder")

In [150]:
os.listdir()

['Jupyternotebook.ipynb', 'New Folder']